    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="position: fixed ">
          <ul class="nav nav-sidebar">
            <li ><a href="#/admin">Dashboard <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#/admin/usuarios">Usuarios</a></li>
            <li><a href="#/admin/anuncios">Anuncios</a></li>
            <li ><a href="#/admin/settings">Configuraciones</a></li>
          </ul>
          
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
          <h1 class="page-header">Dashboard</h1>

          <h2 class="sub-header">Usuarios</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Email</th>
                  <th>Nick</th>
                  <th>Role</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in message track by $index">
                  <td ng-model="id">{{user._id}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.nick}}</td>
                  <td>{{user.role}}</td>
                  <td><a href="" ng-click="delete(user._id)"> X </a></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
