<div ng-controller="HeadercontrollerCtrl" >
<nav class="navbar navbar-custom" style="border-bottom: 1px solid #aaa">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="" href="/">
        <img alt="logo" class="col-xs-7 col-md-3" src="../images/logo.png" style="position:absolute;">
      </a>
    </div>
    
    <div class="collapse navbar-collapse" id="navbar">
 <ul class="nav navbar-nav navbar-right">
        <li  class="active"> <a ng-show="valueShow"> Hola {{nombres}} </a ><li>
      <li  class="active"> <a ng-href="/{{signOrLog}}" > {{signOrLog}} </a ><li>
        <li> <button ng-show="valueShow" type="button" class="btn btn-danger btn-lg pull-right md-warn md-raised md-hue-2" data-toggle="modal" data-target="#myModals" >  Salir  </button> </li>
        <li class="active"><a ng-href="/registro" ng-show="!valueShow">Registrar</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Inicio</a></li>
        <li><a ng-href="/subir">Subir imagen</a></li>
        <li > <a href="/moderar">Moderar</a></li>
        <li ><a ng-href="/contacto">Contacto</a></li>
      </ul>
     
    </div>
  </div>


 <!--<img alt="logo" class="col-xs-7 col-md-3" src="../images/logo.png" style="position:absolute;"> -->
<div class="modal fade" id="myModals" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nooooo...</h4>
      </div>
      <div class="modal-body">
        ¿Estás seguro que quieres salir?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" ng-click="salir()" class="btn btn-primary">Sí</button>
      </div>
    </div>
  </div>
</div>


</nav>
<br/>
      <div class="alert alert-info" role="alert" ng-show="datagram[0].topbarBool">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
        <strong>{{datagram[0].topbarText}}</strong>
       </div>
      <div class="col-sm-6 col-sm-offset-9" ng-show="datagram[0].donate" >
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="Z3TYP7TLQDEQE">
          <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
          <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
          </form>

      </div>

</div>


