<div class="container" >

     <div class="blog-header">
       <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
     </div>

     <div class="row">

       <div class="col-sm-8 blog-main">
         <div class="row">

          <!-- imagenes -->
   <div class="col-sm-6 col-md-12">
     <div class="thumbnail">
     <img src="http://www.eurostone.co.uk/images/products/enlarged/173_Quartz_Worktop__Gris_Antracita.jpg" alt="...">
       <div class="caption">
         <h3>Thumbnail label</h3>
         <p>Tags: </p>  uno ,dos ,tres
       </div>
     </div>

   </div>
 </div>


       </div><!-- /.blog-main -->

     </div><!-- /.row -->

   </div><!-- /.container -->
