<div class="container" >

     
     <div class="row">
       <div class="col-sm-8 blog-main">
         <div class="row">
          <!-- imagenes -->
   <div class="col-sm-6 col-md-12">
     <div class="thumbnail">
     <img src="{{image.path}}" alt="...">
       <div class="caption">
         <center>
         <button ng-click="votarPos(image._id)" ng-disabled="disablePos" class="glyphicon glyphicon-thumbs-up gi-2x buttonVotes" style="color:green">{{image.votes.positives }}</button>
          &nbsp <button ng-click="votarNeg(image._id)" ng-disabled="disableNeg" class="glyphicon glyphicon-thumbs-down gi-2x buttonVotes" style="color:red" >{{image.votes.negatives }}</button>
         </center>
         <hr/>
         <div class="row">
        <input ng-click="delete(image._id)" value="Eliminar imagen" class="btn btn-danger pull-right" ng-show="value">
      </div>
   
         <p>Tags: </p>  
         <ol class="breadcrumb">
            <li>{{image.tags}}</li>
         </ol> 
   <center>
   <a href="https://twitter.com/share" class="twitter-share-button" data-via="xxxsexfree" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
   <div class="fb-like" data-href="http://chicas.faptoria.org//#/tablero/{{image._id}}" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>

    <div class="g-plusone" data-annotation="inline" data-width="50" data-href="http://chicas.faptoria.org/#/tablero/{{image._id}}"></div>    </center>
       </div>
     </div>

   </div>
 </div>
<center> <script type="text/javascript">
var ad_idzone = "1834570",
   ad_width = "728",
   ad_height = "90";
</script>
<script type="text/javascript" src="https://ads.exoclick.com/ads.js"></script>
<noscript><a href="http://main.exoclick.com/img-click.php?idzone=1834570" target="_blank"><img src="https://syndication.exoclick.com/ads-iframe-display.php?idzone=1834570&output=img&type=728x90" width="728" height="90"></a></noscript>
</center>

       </div><!-- /.blog-main -->

     </div><!-- /.row -->

   </div><!-- /.container -->
