<div id="todo-form" class="row">
           <div class="col-sm-8 col-sm-offset-2 text-center">
               <form>
                   <div class="form-group">

                       <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                       <p>Agregar nombre </p>
                         <input type='file' name='image' ng-model="formData.image"/>
                   </div>

                   <!-- createToDo() WILL CREATE NEW TODOS -->
                   <button type="submit" class="btn btn-primary btn-lg" ng-click="validar()">Add</button>
               </form>
           </div>
       </div>
