<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="" href="#">
        <img alt="Brand" src="http://vignette4.wikia.nocookie.net/smurfs/images/a/a1/Netflix-logo.png/revision/latest?cb=20150508223333" width="50%">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <ul class="nav navbar-nav">
        <li class="active"><a href="#/">Inicio</a></li>
        <li><a ng-href="#/subir">Subir imagen</a></li>
        <li > <a href="#/moderar">Moderar</a></li>
        <li ><a ng-href="#/acerca">Acerca de nosotros</a></li>
        <li ><a ng-href="#/contacto">Contacto</a></li>

      </ul>
    </div>
  </div>
</nav>
