<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
  <a class="" href="#">
    <img alt="Brand" src="http://seductionshop.com.mx/documents/logo.png" width="16%" style="position: relative">
  </a>
</div>
<div class="collapse navbar-collapse" id="js-navbar-collapse">

  <ul class="nav navbar-nav">
    <li class="active"><a href="#/">Inicio</a></li>
    <li><a ng-href="#/">Subir imagen</a></li>
    <li > <a href="#/moderar">Moderar</a></li>
    <li ><a ng-href="#/about">Acerca de nosotros</a></li>
    <li ><a ng-href="#/">Contactar</a></li>

  </ul>
</div>
</div>
</nav>
