<div class="container" >

   
     <div class="row">
       <div class="col-sm-8 blog-main">
         <div class="row">
        <h3>  {{message}} </h3>
          <!-- imagenes -->
   <div class="col-sm-6 col-md-12"  ng-if="!images[random].index" ng-show="show">
     <div class="thumbnail" >
    <img ng-src="{{images[random].path}}" alt="{{images[random].title}}">
       <div class="caption">
       <h3> {{images[random].title}}</h3>
        
        <hr/>
         <center>
         <div ng-click="votarPos(images[random]._id)" ng-model="votes" ng-disabled="disablePos" class="glyphicon glyphicon-thumbs-up gi-2x buttonVotes" style="color:green">{{images[random].votes.positives }}</div>
          &nbsp <div ng-click="votarNeg(images[random]._id)" class="glyphicon glyphicon-thumbs-down gi-2x buttonVotes" ng-disabled="disableNeg" style="color:red">{{images[random].votes.negatives }}</div>
         </center>
         <div class="row">
        <input ng-click="approve(images[random]._id)" value="Aprobar imagen" class="btn btn-success pull-left" ng-show="value">
        <input  value="Eliminar imagen" class="btn btn-danger pull-right" ng-show="value" data-toggle="modal" data-target="#modalModerate">
      </div>
      <hr/>
      <div class="row">
         <p>Etiquetas: {{images[random].tags}}</p>  
       </div>

       </div>

     </div><hr>
     
     <div class="modal fade" id="modalModerate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nooooo...</h4>
      </div>
      <div class="modal-body">
        ¿Estás seguro que quieres eliminar la imagen?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" ng-click="delete(images[random]._id)" class="btn btn-primary" data-dismiss="modal">Sí</button>
      </div>
    </div>
  </div>
</div>
<!-- fin imagenes -->
   </div>
 </div>

         <nav>
           <ul class="pager">
             <li><button href="/#/moderar" class="btn-lg btn-danger" onclick="javascript:window.location.reload()">Siguiente</button></li>
           </ul>
         </nav>

       </div><!-- /.blog-main -->



     </div><!-- /.row -->

   </div><!-- /.container -->
