<br><br>
<div class=" blog-sidebar "  >
  
  <div ng-repeat="article in articles">
    <div class="sidebar-module sidebar-module-inset">
      <h4>{{article.title}}</h4>
     <div ng-bind-html="article.content"></div>
    </div>
  </div>

  <div class="sidebar-module">
    <h4>Social</h4>
    <ul class="list-unstyled">
      <li><iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FFaptoria-958387407609307%2F&tabs=timeline&width=280&height=400&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="280" height="390" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></li>
      <li><a class="twitter-timeline" href="https://twitter.com/xxxsexfree" data-widget-id="731648932191703044"></a>
    </li>
    </ul>
  </div>
</div><!-- /.blog-sidebar -->


