<div id="upload" class="row">
           <div class="col-sm-8 col-sm-offset-2 text-center">
                   <div class="form-group">

                       <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                       <p>Subir imagen </p>
                      

                   <form  enctype='multipart/form-data' action="/api/upload" method="post">
                   <input type='file' name='userPhoto' accept=".png, .jpg, .jpeg" />
                   <input type='text' name='tags'>
                   <input type="submit" value="Upload Image" >
                   </form>
                   <!-- createToDo() WILL CREATE NEW TODOS -->
 </div>
           </div>
       </div>
{{mensaje}}
