<div id="upload" class="row">
           <div class="col-sm-8 col-sm-offset-2 text-center">
                   <div class="form-group">

                       <!-- BIND THIS VALUE TO formData.text IN ANGULAR action="/api/upload"-->
                       <p>Subir imagen </p>

Identificador: {{_id}}
    {{message}} <br>
                   <form  enctype='multipart/form-data'  action="/api/upload" method="post">
                   <input type='file' name='userPhoto' accept=".png, .jpg, .jpeg" />
                   <input type='text' name='idImage' ng-model="formImg.BoxId" >
                   <input type="submit" value="Upload Image" >
                   </form>
                   <!-- createToDo() WILL CREATE NEW TODOS -->
 </div>
           </div>
       </div>

<form action="/api/upload" method="post" name="upload_form" >
               Single Image with validations
           <input
              type="file"
              ngf-select
              ng-model="file"
              name="file"
              ngf-pattern="'image/*'"
              accept="image/*"
              ngf-max-size="20MB"
              />
           Image thumbnail: <img style="width:100px;" ngf-thumbnail="file || '/thumb.jpg'"/>
           <i ng-show="up.upload_form.file.$error.required">*required</i><br>
           <i ng-show="up.upload_form.file.$error.maxSize">File too large
           {{file.size / 1000000|number:1}}MB: max 20M</i>
           <button type="submit" >submit</button>
           <p>{{progress}}</p>
       </form>
